/*
 * Some modification by @indefined
 */

.monsterdb_info {
  position: absolute;
  z-index: 3;
  width: 175px;
  opacity: 1;
}

.monsterdb_info.compact {
  width: 75px;
}

.drag {
  opacity: 0.6;
}

.drag .header,
.drag .table {
  border-style: dashed;
}

.header {
  cursor: move;
  height: 20px;
  text-align: center;
  background-color: #e5e2d5;
  line-height: 20px;
  font-weight: 600;
  border: 2px solid #5c0d11;
  margin-bottom: -2px;
  user-select: none;
  visibility: hidden;
}

.monsterdb_info:hover .header {
  visibility: visible;
}

.table_container {
  height: 56px;
  background-color: #eeece1;
  margin: 2px auto;
  font-weight: bold;
  font-family: Consolas, Monaco, SFMono-Regular, Andale Mono, Liberation Mono, Ubuntu Mono, Menlo, monospace;
}

.notify {
  font-size: 20px;
  color: red;
  line-height: 56px;
}

.table {
  line-height: 1;
  border: 2px ridge #5C0D12;
  font-size: 12px;
  letter-spacing: -1px;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}

.table td {
  padding: 0 1px;
  border: 1px solid #5c0d11;
}

.table td:last-child {
  width: 70px;
  max-width: 70px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fire {
  color: #ce3600
}

.cold {
  color: rgb(27, 120, 212)
}

.elec {
  color: rgb(190, 144, 15)
}

.wind {
  color: rgb(22, 160, 132)
}

.holy {
  color: rgb(161, 159, 2)
}

.dark {
  color: rgb(129, 67, 153)
}